/* Imports */
@import url('http://fonts.cdnfonts.com/css/circular-std');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Layout utility */
.relative {
    position: relative;
}

.flexbox-container {
    display: flex;
}

/* Color utility */
.bg-black {
    background-color: black;
}

.bg-darkgray {
    background-color: rgb(38, 38, 38);
}

.bg-darkblue {
    background-color: rgb(20, 25, 34);
}

/* HTML/Body behavior */
body {
    font-family: 'Circular Std', sans-serif;
}


/* Desktop-First */
/* Main */
main {
    width: 100vw;
    height: 92vh;
}

main nav.sidenav {
    height: 100%;
    width: 17vw;
}

main nav.sidenav div.navigation img {
    width: 100%;
    padding: 0.5rem 3.5rem;
}

main section.main-section {
    height: 100%;
    width: 83vw;
}

main section.main-section div.call-to-action {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;

    background-color: rgba(0, 0, 0, 0.363);

    justify-content: end;
    align-items: center;
}

main section.main-section div.call-to-action a.call-btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;

    padding: .6rem 2.5rem;
    margin-right: .4rem;

    border: 1px solid white;
    border-radius: 1.5rem;

}


/* Footer */
footer#controls {
    width: 100vw;
    height: 8vh;
}
