/* Imports */
@import url('http://fonts.cdnfonts.com/css/circular-std?styles=17909,17910,17911,17912,17907,17908,17905,17906');

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Layout utility */
.relative {
    position: relative;
}

.flexbox-container {
    display: flex;
}

/* Color utility */
.bg-black {
    background-color: black;
}

.bg-darkgray {
    background-color: rgb(38, 38, 38);
}

.bg-darkblue {
    background-color: rgb(20, 25, 34);
}

.text-white {
    color: white;
}

.text-gray {
    color: rgb(105, 105, 105);
}

/* HTML/Body behavior */
body {
    font-family: 'Circular Std', sans-serif;
}

/* General */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    height: 5px;

    background: rgb(105, 105, 105);
    outline: none;

    opacity: .7;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 10px;
    height: 10px;

    background: white;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
}

/* Desktop-First */
/* ! Main */
main {
    width: 100vw;
    height: calc(100vh - 81px);
}

/* * Sidenav */
main nav.sidenav {
    height: 100%;
    width: 250px;
    min-height: 134px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

main nav.sidenav div.navigation {
    flex-direction: column;
}

main nav.sidenav div.navigation img {
    width: 55%;
    margin: .5rem auto;
}

main nav.sidenav div.navigation ul li {
    margin-top: .5rem;
    border-left: solid 2px black;
}

main nav.sidenav div.navigation ul li.active {
    border-left: solid 2px greenyellow;
}

main nav.sidenav div.navigation ul li a {
    text-decoration: none;
    font-weight: 450;
    font-size: 17px;
    line-height: 30px;
}

main nav.sidenav div.navigation ul li a img {

    width: 35px;

    object-fit: cover;
    vertical-align: middle;
}

main nav.sidenav div.navigation>p {
    text-transform: uppercase;
    font-size: 12px;

    margin: 1rem .2rem;
}

main nav.sidenav div.navigation ul.playlist {
    max-height: 40vh;
    overflow: auto;
}

main nav.sidenav div.navigation ul.playlist li {
    font-size: 12px;
    margin-bottom: .8rem;
}

main nav.sidenav div.navigation ul.playlist li i {
    font-size: 20px;
    background-color: rgb(199, 199, 199);
    padding: .2rem .25rem;
    height: 100%;
    margin-left: 0;
    color: black;
}

main nav.sidenav div.profile-option {
    width: 100%;
    padding: .7rem;
}

main nav.sidenav div.profile-option div.install {
    border-bottom: 1px solid gray;
    padding: 10px 0;
    font-size: 12px;
}

main nav.sidenav div.profile-option div.install {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

main nav.sidenav div.profile-option div.install i.fas.fa-arrow-circle-down {
    margin-right: .2rem;
}

main nav.sidenav div.profile-option div.profile {
    padding: 10px 0 0 0;
}

main nav.sidenav div.profile-option div.profile i.fas.fa-user {
    background-color: rgb(105, 105, 105);
    padding: .4rem;
    border-radius: 50%;
}


/* * Main Section */
main section.main-section {
    height: 100%;
    width: calc(100% - 250px);
    overflow-y: auto;
}

main section.main-section div.call-to-action {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 8vh;

    background-color: rgba(0, 0, 0, 0.363);

    justify-content: end;
    align-items: center;
}

main section.main-section div.call-to-action a.call-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;

    padding: .6rem 2.5rem;
    margin-right: .4rem;

    border: 1px solid white;
    border-radius: 1.5rem;

}


/* Footer */
footer#controls {
    width: 100vw;
    height: 80px;

    min-height: 60px;

    z-index: 10;

    justify-content: space-between;
    align-items: center;
}

footer#controls div#current-playing {
    align-items: center;
}

footer#controls div#current-playing img {
    height: 70px;
    padding: .8rem;
}

footer#controls div#current-playing div.song-info {
    flex-direction: column;
}

footer#controls div#current-playing div.song-info h6.title {
    font-size: 15px;
}

footer#controls div#current-playing div.song-info p.author {
    font-size: 12px;
}

footer#controls div#current-playing div.buttons {
    margin-left: 3rem;
}

footer#controls div#current-playing div.buttons i {
    margin-left: .5rem;
}

footer#controls div#control-buttons {
    flex-direction: column;
}

footer#controls div#control-buttons div.buttons {
    justify-content: center;
    align-items: center;
}

footer#controls div#control-buttons div.buttons i {
    margin: 0 1rem;
    font-size: 1.1rem;
}

footer#controls div#control-buttons div.buttons i.fa-play-circle {
    font-size: 2.5rem;
}

footer#controls div#control-buttons div.position {
    margin-top: .3rem;
    align-items: center;
    font-size: 12px;
}

footer#controls div#control-buttons div.position hr {
    margin: 0 1rem;
    width: 30vw;
}

footer#controls div#control-buttons div.position hr.lower {
    border: 2px solid rgb(105, 105, 105);
    border-radius: 1%;
}

footer#controls div#control-buttons div.position hr.upper {
    position: absolute;
    border: 2px solid white;
    top: 0;
    border-radius: 5%;
    width: 10vw;
}

footer#controls div#control-player {
    margin-right: 1rem;
}

footer#controls div#control-player i {
    margin: 0 .3rem;
}
